/* Header */
header[role=header] h1 {
	text-align: center;
	margin: 2em 0em 1em 0em;
	font-family: "Indie Flower", cursive;
	font-size: 5.5em;
	color: #1a1a1a;
}
/* Navigation */

/* Main */
main[role=main] {
	margin-top: 10%;
}

main[role=main] > div.row > div.column > button {
	text-align: center;
	margin: 0 auto;
	text-transform: capitalize;
	font-weight: normal;
	font-size: 150%;
	display: block;
}

main[role=main] > div.row > div.column {
	text-align: left;
}

main[role=main] > div.row > div.column.quote {
	font-size: 160%;
}

main[role=main] > div.row > div.column.author {
}


/* Footer */
footer[role=footer] > div.row > div.column {
	text-align: center;
}
